/* commcon */
* {
  margin :0;
  padding: 0;
  box-sizing: border-box;
  transition: all 1s;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
/* class style --------- */
.btn {
  width: 70px;
  height: 20px;
  background-color: #999;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap : 1vw;
}
.flex-col {
  flex-direction: column;
}
.justify-end {
  justify-content: end;
}

.hbg-menu {
  width: 100%;
  height: 10vh;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* id part ----------*/
#hamburgerContainer {
  width: 20vw;
  height : 100vh;
  position: absolute;
  top: 0; left: 0;
  background-color: #999;
}
#hamburgerContainer div {
  outline: 1px solid black;
}
#hbg-mid {
  width: 100%;
  height: 80vh;
}
#hbg-top, #hbg-bottom {
  width: 100%;
  height: 10vh;
  background-color: #f0e9e9;
}

#root {
  /* 스크롤 방지 */
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: end;

}

#container {
  width: 80vw;
  height: 100vh;
  outline: 1px solid black;
  background-color: #dbd7d7;
  padding: 5vw;
}
